<% if obj.errors.any? %>
  <h2> The following erros prevented the <%= obj.class.name.downcase %> from being saved</h2>
  <% obj.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>